<template name="Footer">
  <footer>
    <div class="container">
      <p style="margin: 10px" class="text-center text-muted">
        @jakersdeveloper <br />
        &copy; 2017
      </p>
    </div>
  </footer>
</template>
