<template name="Header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'Home'}}">Clinical Trials Hub</a>
      </div>

      <ul class="collapse navbar-collapse margin-bottom-0" id="main-nav">

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <!-- <li><a href="{{ pathFor 'AddStuff' }}">Add Stuff</a></li>
            <li><a href="{{ pathFor 'ListStuff' }}">List Stuff</a></li> -->
            <li><a href="{{ pathFor 'Invite' }}">Invite</a></li>
            <li><a href="{{ pathFor 'ListPatient' }}">List Patient</a></li>
            <li><a href="{{ pathFor 'ListClinic' }}">List Clinic</a></li>
          {{/if}}
          <li><a href="{{ pathFor 'About' }}">About</a></li>
          <li><a href="#" class="navbar-link">{{> loginButtons }}</a></li>

        </ul>

      </ul>
    </div>
  </nav>
</template>
