<head>
  <title>Clinical Trials Hub</title>
  <!-- If you update favicon.ico in the public directory, then increment the "v=" below to force update. -->
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
</head>
