<template name="Invite">
  <div class="row-fluid">
          <div class="col-sm-12">
              <div class="col-sm-6">
                <img style="float:left" width="240px" class="img-circle" src="/images/icon.png" />
                <div class="jumbotron">
                  <h2 class="text-center">Clinical Trials Manager</h2>
                  <p class="text-center">Now get to work and start record your Clinical Trials!</p>
                </div>
              </div>
              <div class="col-sm-6" style="padding-top:25px;">
                  <div class="form-horizontal">
                    <div class="form-group" data-required="true">
                      <label class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input class="form-control" size="16" type="text" id="username">
                      </div>
                    </div>
                    <div class="form-group" data-required="true">
                      <label class="col-sm-2 control-label">email</label>
                      <div class="col-sm-10">
                        <input class="form-control" size="16" type="text" id="email">
                      </div>
                    </div>
                    <div class="form-group" data-required="true">
                      <label class="col-sm-2 control-label">clinic</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="refrance_id">
                          {{#each clinicList}}
                              <option value="{{_id}}">{{name}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                        <hr>
                      <div class="help-block text-center">
                          <button type="button" id="btn_request"  class="btn btn-large btn-info">Request an Invite</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</template>
