<template name="Home">
  <img style="float:left" width="240px" class="img-circle" src="/images/icon.png" />
  <div class="jumbotron">

    <h1 class="text-center">Welcome to Clinical Trials Manager</h1>
    <p class="text-center">Now get to work and start record your Clinical Trials!</p>
  </div>
  <article>
        <div class="container">
            <div class="row">
                <div class="col-md-3 intro-box">
                    <i class="foundicon-checkmark"></i>
                    <div class="box">
                        <!-- Edit your article content here -->
                        <h3>Bootstrap</h3>
                        <p>
                            This theme is built on Bootstrap 2.3.1 and is compatible with all modern browsers including IE9.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 intro-box">
                    <i class="foundicon-edit"></i>
                    <div class="box">
                        <!-- Edit your article content here -->
                        <h3>SASS + CSS</h3>
                        <p>
                            Easily customize your theme by modifying variables in SCSS files or directly changing CSS files.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 intro-box">
                    <i class="foundicon-tools"></i>
                    <div class="box">
                        <!-- Edit your article content here -->
                        <h3>Modular</h3>
                        <p>
                            Each section is styled by its own SCSS file allowing you to find and make changes quickly.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 intro-box">
                    <i class="foundicon-add-doc"></i>
                    <div class="box">
                        <!-- Edit your article content here -->
                        <h3>Sub-Themes</h3>
                        <p>
                            Includes 5 sub-themes out of the box. Just change the stylesheets or edit the SASS variables.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-3 intro-box">
              </div>
              <div class="col-sm-6">
                <h1>Please help us to Markating</h1>
                <script src="https://donatetools.com/widget.js" type="text/javascript"></script><iframe src="https://donatetools.com/embed/markating-campaign" height="685px" width="100%" style="max-width:500px; min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
             </div>
             <div class="col-md-3 intro-box">
             </div>
            </div>
        </div>
    </article>
</template>
