<template name="AddPatient">
  {{#IfLoggedIn}}
  <div class="row">
  <div class="col-sm-12 clearfix pull-right padding-bottom-10">
    <a href="{{ pathFor 'ListPatient' }}" class="btn btn-primary pull-right">Back</a>
  </div>
  </div>

    <div class="well">
      {{> quickForm
      collection="Patient"
      template="bootstrap3-horizontal"
      label-class="col-sm-2"
      input-col-class="col-sm-10"
      id="AddPatientForm"
      type="method"
      meteormethod="addPatient"
      omitFields="user_id,created_at"
      resetOnSuccess=true}}
    </div>
  {{/IfLoggedIn}}
</template>
