<template name="ListPatient">
  {{#IfLoggedIn}}

   <div class="row">
   <div class="col-sm-12 clearfix pull-right padding-bottom-10">
     <a href="{{ pathFor 'AddPatient' }}" class="btn btn-success">Add Patient</a>
   </div>
   </div>

    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each patientList}}
          <tr>
            <td>{{fname}}</td>
            <td>{{lname}}</td>
            <td><a href="{{pathFor 'EditPatient'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
