<template name="ListClinic">
  {{#IfLoggedIn}}

   <div class="row">
   <div class="col-sm-12 clearfix pull-right padding-bottom-10">
     <a href="{{ pathFor 'AddClinic' }}" class="btn btn-success">Add Clinic</a>
   </div>
   </div>

    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>logo</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        {{#each clinicList}}
          <tr>
            <td>{{name}}</td>
            <td>{{logo}}</td>
            <td><a href="{{pathFor 'EditClinic'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
